a {
  color: royalblue;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 30px;
}

h2 {
  text-align: center;
  border-width: 2px;
  border-color: green;
  border-style: solid;
  left: 5555555555555px;
  width: 350px;
}

h3 {
  text-align: center;
  border-width: 5px;
  border-color: green;
  border-style: solid;
  width: 500px;
}

h3 {
  display: flexbox;
}

.container {
  display: flexbox;
}

.card {
  display: flex;
}

ol {
  border-right: 20px solid gray;
  width: 160px;
  margin: 0;

  padding-right: 20px;
}
body {
  margin: 0;
}
#grid {
  border: 20px solid green;
  display: grid;
  grid-template-columns: 800px 2fr;
  text-align: left;
  margin: 30px;
}

#문의내용 {
  text-align: right;
  font-size: 25px;
}

#식단 {
  text-align: left;
  font-size: 25px;
}
#일정 {
  text-align: center;
  font-size: 25px;
}
#홈피 {
}

#container {
  float: left;
}
#card card-1 {
  float: left;
}
#card card-3 {
  float: right;
}
